{% extends 'base.html.twig' %} {% block title %}Utilisateur {% endblock %} {%
block body %}

<div
  class="flex flex-col items-center justify-center gap-4 h-[calc(100vh-128px)]"
>
  <div
    class="w-[200px] h-[200px] bg-[url('/img/8121295.gif')] bg-center bg-contain rounded-full"
  ></div>
  <a href="{{ path('app_login') }}"
    ><button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
      Se connecter
    </button></a
  >
  <a href="{{ path('app_register') }}"
    ><button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
      S'inscrire
    </button></a
  >
</div>
{% endblock %}
